<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentRecordServlet</servlet-name>
        <servlet-class>controlers.StudentRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStudentsServlet</servlet-name>
        <servlet-class>controlers.getStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudentServlet</servlet-name>
        <servlet-class>controlers.deleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRecordServlet</servlet-name>
        <url-pattern>/StudentRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStudentsServlet</servlet-name>
        <url-pattern>/getStudentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
